$textWhite      : #FFFFFF;
$textGray       : #333333;

$bgWhite        : #FFFFFF;
$bgLightGray    : #F7F9F9;
$bgDarkGray     : #333333;

$lineGray       : #CCCCCC;

$roseTheme      : #E74C3C;
$purpleTheme    : #8E44AD;
$blueTheme      : #3498DB;
$turquoiseTheme : #1ABC9C;
$greenTheme     : #2ECC71;
$yellowTheme    : #F39C12;
$orangeTheme    : #D35400;