$textWhite      : #FFFFFF;
$textMiddleGray : #777777;
$textGray       : #333333;

$bgWhite        : #FFFFFF;
$bgLightGray    : #F4F6F7;
$bgDarkGray     : #333333;

$lineGray       : #CCCCCC;

$roseTheme      : #E74C3C;
$purpleTheme    : #8E44AD;
$blueTheme      : #3498DB;
$turquoiseTheme : #1ABC9C;
$greenTheme     : #2ECC71;
$yellowTheme    : #F39C12;
$orangeTheme    : #D35400;

$roseBg         : #FADBD8;
$purpleBg       : #EBDEF0;
$blueBg         : #D6EAF8;
$turquoiseBg    : #D1F2EB;
$greenBg        : #D5F5E3;
$yellowBg       : #FCF3CF;
$orangeBg       : #FAE5D3;

$slider         : #CCCCCC;
$sliderActive   : #AED6F1;